.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.axisGreen text {
  fill: green;
}

.axisRed text {
  fill: red;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}
